{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}

    {# Conditional Title #}
    {% if title %}
        <h1>{{ title }} is a movie</h1>
    {% else %}
        <h1>Whoops, no title has been set.</h1>
    {% endif %}

    {# Foreach of Movies   #}
    {% for movie in movies %}
        <li>{{ movie }}</li>
    {% endfor %}

    {# Global Variables & New Variable (config/twig.yaml) #}
    <br>
    {{ _self }}
    <br>
    {{ author }}

{% endblock %}