{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello World!</h1>

{#    //Display List of Movies    #}
{#    {% for movie in movies %}#}
{#        <li>{{ movie.title }}</li>#}
{#    {% endfor %}#}
{% endblock %}